.Contact{
    padding: 20px 9%;

}
.contact-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0px 30px;
    font-size: 45px;
    font-weight: 600;
    margin-top: 100px;
}
.contact-text hr{
    border: none;
    height: 5px;
    border-radius: 50px;
    background-color: blue;
} 


.contact-left h1{
    font-size: 40px;
    font-weight: 600;
}
 p{
    color: #d8d8d8;
    text-align: start;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: normal;
    width: 80%;
    
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:  #d8d8d8 ;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-detail img{
width: 25px;
margin-bottom: 10px;

}

.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background-color: rgb(95, 95, 214);
    font-size: 22px;
    padding: 10px 20px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}




@media(max-width: 1090px){
  
    p{
        width: 100%;
    }
    .contact-text hr{
         width: 120%;

  

}

